{% extends 'subpage_base.html' %}

{% block sub_content %}
<div class="span6">
    <h1>{{ poll.question }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="/polls/{{ poll.id }}/vote/" method="post" class="form-vertical">
        <fieldset>
            {% csrf_token %}
            {% for choice in poll.choice_set.all %}
                <div class="control-group required">
                    <input class="control-label" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                    <div class="controls">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="well">
            <input type="submit" value="Vote" />
        </div>
    </form>
</div>
{% endblock %}