{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
    <div class="hero-unit">
        {% placeholder "home-hero" or %}`
        <h1>django CMS FTW!</h1>
        <p>This is a demo site for django CMS. Check out the django CMS source, read the docs, or my slides from PyOhio to get started.  Have questions?  Find me on twitter @andrewschoen or ask in #django-cms.</p>
        <p class="btn-group">
          <a href="https://github.com/divio/django-cms" class="btn btn-primary btn-large" target="_blank">django CMS on github</a>
          <a href="http://docs.django-cms.org/en/2.3/index.html" class="btn btn-large" target="_blank">Read the docs</a>
          <a href="http://andrewschoen.github.com/django-cms-presentation" class="btn btn-large" target="_blank">My PyOhio slides</a>
        </p>
        {% endplaceholder %}
    </div>

    <div class="row">
        <div class="span4">
          {% placeholder 'home-col-1'  or %}
          <h2>Using the Admin</h2>
           <p>If you're using the provided database I've already created a super
           user account for you.  Go to the amdin and use these credentials. </p>
           <ul>
              <li>UN: admin</li>
              <li>PW: djangocms</li>
           </ul>
          <p><a class="btn" href="/admin">Login to the admin &raquo;</a></p>
          {% endplaceholder %}
        </div>
        <div class="span4">
          {% placeholder 'home-col-2' or %}            
          <h2>Using Frontend Editing</h2>
           <p>Click the button below to enable the frontend editor.  Or, on any page you can add ?edit to the url to enable edit mode. The '+' in the upper right hand corner shows the toolbar.  You'll need to be logged into the admin already, or login from the toolbar. </p>
          <p><a class="btn" href="?edit">Frontend Editing &raquo;</a></p>
          {% endplaceholder %}
       </div>
        <div class="span4">
            {% placeholder 'home-col-3' or %}
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
          {% endplaceholder %}
        </div>
      </div>

{% endblock %}